@import 'common';

.global-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .app-component {
    text-align: center;
    max-width: $maxWidth;
    min-height: 100px;
    min-width: 100px;
  }
}

